.backgroundImage {
    background-image: url('../../public/villa1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    image-rendering: smooth;
  }